.threeSection {
  /*padding-right:100px;*/
  border-right: 3px solid #ccc;
  height:87vh;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  padding: 1em;
  color: white;
  background-color: black;
  clear: left;
  text-align: center;
}
.petImage {
  height: 300px;
  width: 300px;
  padding-top: 10px;
  margin:30px;
}

.image img {
    width: 100%;
    height: 100%;
}
#sameAsH4 {
  margin-top: 5px;
  color: black;
  font-size: 18px;
}
#exp {
  margin-top:10px;
}
#col1box2 {
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}
#col1box3 {
  padding-top: 10px;
  margin-top: 15px;
}
#col1box4 {
  margin-top: 10px;
  padding-top: 20px;
  border-top: 2px solid #ccc;
}
.alignright {
  float: right;
}
